*{
	margin:0px;
	padding:0px;
}
html {
	scroll-behavior: smooth;
  }
.navbar{
	background-color: gray;
	height: 43px;
	padding-top: 3px;
}
.hr{
	height: 2px;
}

.nav a:visited, a:link{
	text-decoration: none;
	color: white;
}
.home{
	margin-left:  20px;
	font-size: 35px;
	border: 1px;
	border-color: gray;
	border-style: solid;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	transition: 0.3s;

}
.home:hover{
	background-color: dimgray;
	
	opacity: 80%;
}

.about{
	margin-left: 70%;
	font-size: 25px;
	border: 1px;
	border-color: gray;
	border-style: solid;
	padding-right: 5px;
	border-radius: 6px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 8px;
	transition: 0.3s;
	position: relative;
	bottom: 2px;
}
.about:hover{
	background-color: dimgray;
	box-shadow: 1px 0 1em darkgray;
	opacity: 80%;
}
.contacts{
	margin-left: 15px;
	font-size: 25px;
	border: 1px;
	border-color: gray;
	border-style: solid;
	border-radius: 6px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 8px;
	transition: 0.3s;
	position: relative;
	bottom: 2px;
}
.contacts:hover{
	background-color: dimgray;
	box-shadow: 1px 0 0.5em darkgray;
	opacity: 80%;
}
